
<div *ngIf="saveArticles && saveArticles.length > 0 && currentArticle" class="container">
  <h3 class="text-center">Новости</h3>
  <hr>
  <div class="col-12">
    <p class="lead">Сохраненные новости</p>
  </div>
</div>
<div  *ngIf="saveArticles && saveArticles.length > 0 && currentArticle" class="card card-size">
  <h5 class="card-header"></h5>

<img *ngIf="currentArticle.url_img" class="card-img-top card-img-size" src="{{currentArticle.url_img}}" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">{{currentArticle?.title}}</h5>
  <p class="card-text">{{currentArticle?.description}}</p>
  <div class="container">
    <div class="row card-bottom">
      <div class="col-2">
        <a href="{{currentArticle?.url_to_source}}" class="btn btn-primary">Перейти</a>
      </div>
      <div class="col-8"></div>


    </div>
  </div>
</div>
</div>
<!--<div class="carousel-item">-->
  <!--<img src="..." alt="...">-->
  <!--<div class="carousel-caption d-none d-md-block">-->
    <!--<h5>...</h5>-->
    <!--<p>...</p>-->
  <!--</div>-->
<!--</div>-->
